.item {
    padding: 10px;
    gap: 10px;

    a {
        text-decoration: none;
        color: var(--text-dark);
    }
}

.category {
    border: 1px solid #ccc;
    width: 229px;
}
.Banner_c {
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.Banner_p{
    width: 245px;
}
.Banner_p1{
    width: 100%;
    height: 196px;
    border-radius: 5px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 500px) {
    .Banner_c{
       height: 200px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    .Banner_c{
        height: 300px;
     }
}

@media screen and (max-width: 1400px) and (min-width: 1000px){
    .Banner_p{
       width: 175px; 
    }
   
}

